docsense-stepfunction/statemachine/ingestion.json
{
  "Comment": "DocSense — document ingestion (Standard workflow). Payload keys use snake_case between states.",
  "StartAt": "ExtractAndChunk",
  "States": {
    "ExtractAndChunk": {
      "Type": "Task",
      "Comment": "Writes batch files (text + embedding:null) under batches/; returns batch_indices",
      "Resource": {
        "Fn::GetAtt": [
          "ExtractAndChunkLambdaFunction",
          "Arn"
        ]
      },
      "TimeoutSeconds": 120,
      "ResultPath": "$",
      "Next": "GenerateEmbeddings",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "IngestionFailed",
          "ResultPath": "$.error"
        }
      ]
    },
    "GenerateEmbeddings": {
      "Type": "Map",
      "Comment": "Iterates per batch (not per chunk). Each item carries batch_index + S3 metadata.",
      "ItemsPath": "$.batch_indices",
      "MaxConcurrency": 10,
      "Iterator": {
        "StartAt": "InvokeEmbedBatch",
        "States": {
          "InvokeEmbedBatch": {
            "Type": "Task",
            "Comment": "Embeds all entries in one batch file; writes back with embeddings",
            "Resource": {
              "Fn::GetAtt": [
                "EmbedChunkLambdaFunction",
                "Arn"
              ]
            },
            "TimeoutSeconds": 300,
            "End": true,
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }
            ]
          }
        }
      },
      "ResultPath": "$.embed_results",
      "Next": "BulkInsertAndComplete",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "IngestionFailed",
          "ResultPath": "$.error"
        }
      ]
    },
    "BulkInsertAndComplete": {
      "Type": "Task",
      "Comment": "Reads batch files from S3 (text + embeddings); POSTs to Java bulk-insert",
      "Resource": {
        "Fn::GetAtt": [
          "BulkInsertAndCompleteLambdaFunction",
          "Arn"
        ]
      },
      "Parameters": {
        "reference_id.$": "$.reference_id",
        "file_name.$": "$.file_name",
        "bucket.$": "$.bucket",
        "batches_prefix.$": "$.batches_prefix",
        "chunk_count.$": "$.chunk_count",
        "batch_count.$": "$.batch_count"
      },
      "TimeoutSeconds": 300,
      "Next": "IngestionComplete",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "IngestionFailed",
          "ResultPath": "$.error"
        }
      ]
    },
    "IngestionComplete": {
      "Type": "Succeed",
      "Comment": "Output: bulk-insert Lambda response",
      "OutputPath": "$"
    },
    "IngestionFailed": {
      "Type": "Fail",
      "Comment": "Spring can read execution input (snake_case) for reference_id",
      "Error": "DocSense.IngestionFailed",
      "Cause": "Ingestion pipeline failed — see execution history / Map or Task output for details."
    }
  }
}
