docsense-stepfunction/statemachine/ingestion.json
{
  "Comment": "DocSense — document ingestion (Express). Payload keys use snake_case between states.",
  "StartAt": "ExtractAndChunk",
  "States": {
    "ExtractAndChunk": {
      "Type": "Task",
      "Comment": "Output: reference_id, file_name, chunk_items (for Map)",
      "Resource": {
        "Fn::GetAtt": [
          "ExtractAndChunkLambdaFunction",
          "Arn"
        ]
      },
      "TimeoutSeconds": 120,
      "ResultPath": "$",
      "Next": "GenerateEmbeddings",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "IngestionFailed",
          "ResultPath": "$.error"
        }
      ]
    },
    "GenerateEmbeddings": {
      "Type": "Map",
      "Comment": "ItemsPath: chunk_items (one object per chunk with chunk_text, reference_id, file_name). No ItemSelector — avoids Fn::Sub eating $$ in $$.Map.Item.Value.",
      "ItemsPath": "$.chunk_items",
      "MaxConcurrency": 10,
      "Iterator": {
        "StartAt": "InvokeEmbedChunk",
        "States": {
          "InvokeEmbedChunk": {
            "Type": "Task",
            "Comment": "Lambda maps chunk_text to Java body { chunkText }",
            "Resource": {
              "Fn::GetAtt": [
                "EmbedChunkLambdaFunction",
                "Arn"
              ]
            },
            "TimeoutSeconds": 60,
            "End": true,
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }
            ]
          }
        }
      },
      "ResultPath": "$.embeddings_result",
      "Next": "BulkInsertAndComplete",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "IngestionFailed",
          "ResultPath": "$.error"
        }
      ]
    },
    "BulkInsertAndComplete": {
      "Type": "Task",
      "Comment": "Parameters: reference_id, file_name, embeddings_result",
      "Resource": {
        "Fn::GetAtt": [
          "BulkInsertAndCompleteLambdaFunction",
          "Arn"
        ]
      },
      "Parameters": {
        "reference_id.$": "$.reference_id",
        "file_name.$": "$.file_name",
        "embeddings_result.$": "$.embeddings_result"
      },
      "TimeoutSeconds": 120,
      "Next": "IngestionComplete",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "IngestionFailed",
          "ResultPath": "$.error"
        }
      ]
    },
    "IngestionComplete": {
      "Type": "Succeed",
      "Comment": "Output: bulk-insert Lambda response",
      "OutputPath": "$"
    },
    "IngestionFailed": {
      "Type": "Fail",
      "Comment": "Spring can read execution input (snake_case) for reference_id",
      "Error": "DocSense.IngestionFailed",
      "Cause": "Ingestion pipeline failed — see execution history / Map or Task output for details."
    }
  }
}