docsense-stepfunction/statemachine/ingestion.json
{
  "Comment": "DocSense — document ingestion (Standard workflow). Payload keys use snake_case between states.",
  "StartAt": "ExtractAndChunk",
  "States": {
    "ExtractAndChunk": {
      "Type": "Task",
      "Comment": "Output: chunk_batches_prefix + chunks_batch_size; text in chunk-batches/{n}.json",
      "Resource": {
        "Fn::GetAtt": [
          "ExtractAndChunkLambdaFunction",
          "Arn"
        ]
      },
      "TimeoutSeconds": 120,
      "ResultPath": "$",
      "Next": "GenerateEmbeddings",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "IngestionFailed",
          "ResultPath": "$.error"
        }
      ]
    },
    "GenerateEmbeddings": {
      "Type": "Map",
      "Comment": "No ItemSelector — each item already carries S3 metadata (avoids Fn::Sub $$ escaping issues)",
      "ItemsPath": "$.chunk_indices",
      "MaxConcurrency": 10,
      "Iterator": {
        "StartAt": "InvokeEmbedChunk",
        "States": {
          "InvokeEmbedChunk": {
            "Type": "Task",
            "Comment": "Load chunk from S3, embed, write part file; output { chunk_index } only",
            "Resource": {
              "Fn::GetAtt": [
                "EmbedChunkLambdaFunction",
                "Arn"
              ]
            },
            "TimeoutSeconds": 60,
            "End": true,
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }
            ]
          }
        }
      },
      "ResultPath": "$.embeddings_result",
      "Next": "BulkInsertAndComplete",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "IngestionFailed",
          "ResultPath": "$.error"
        }
      ]
    },
    "BulkInsertAndComplete": {
      "Type": "Task",
      "Comment": "Reads embedding parts from S3; Parameters omit large arrays",
      "Resource": {
        "Fn::GetAtt": [
          "BulkInsertAndCompleteLambdaFunction",
          "Arn"
        ]
      },
      "Parameters": {
        "reference_id.$": "$.reference_id",
        "file_name.$": "$.file_name",
        "bucket.$": "$.bucket",
        "embeddings_parts_prefix.$": "$.embeddings_parts_prefix",
        "chunk_count.$": "$.chunk_count"
      },
      "TimeoutSeconds": 120,
      "Next": "IngestionComplete",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "IngestionFailed",
          "ResultPath": "$.error"
        }
      ]
    },
    "IngestionComplete": {
      "Type": "Succeed",
      "Comment": "Output: bulk-insert Lambda response",
      "OutputPath": "$"
    },
    "IngestionFailed": {
      "Type": "Fail",
      "Comment": "Spring can read execution input (snake_case) for reference_id",
      "Error": "DocSense.IngestionFailed",
      "Cause": "Ingestion pipeline failed — see execution history / Map or Task output for details."
    }
  }
}
